<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>760055820300-62scimc92qncvorq27a5p7uqr7fj4l3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760055820300-62scimc92qncvorq27a5p7uqr7fj4l3r</string>
	<key>API_KEY</key>
	<string>AIzaSyD-rcEzGVCnyUToQSdY-jnxLtvxpV1yfqs</string>
	<key>GCM_SENDER_ID</key>
	<string>760055820300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unsureprogrammer.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-62888</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-62888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:760055820300:ios:04801e47cc9e56ae</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-62888.firebaseio.com</string>
</dict>
</plist>